@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  /*Primary Text*/
  --Very_dark_desaturated_blue: hsl(238, 29%, 16%);
  --Soft_red: hsl(14, 88%, 65%);
  /*Background gradient*/
  --Soft_violet: hsl(273, 75%, 66%);
  --Soft_blue: hsl(240, 73%, 65%);
  /*Neutral Text*/
  --Very_dark_grayish_blue: hsl(237, 12%, 33%);
  --Dark_grayish_blue: hsl(240, 6%, 50%);
  /*Dividers*/
  --Light_grayish_blue: hsl(240, 5%, 91%);
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  background: linear-gradient(var(--Soft_violet), var(--Soft_blue));
  height: 100%;
  width: 100%;
  z-index: 4;
}

.faq__container-mobile {
  margin: 30% 10% 5% 10%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 30px;
}

.faq__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.faq__photo-mobile {
  position: absolute;
  width: 100%;
  top: -80%;
}

.faq__title {
  color: var(--Very_dark_desaturated_blue);
}

.faq__main {
  display: inline-block;
}

.faq-question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq__question {
  color: var(--Very_dark_grayish_blue);
}

.faq__arrow {
  margin-left: 1rem;
}

.faq__arrow-active {
  transform: rotate(180deg);
}

.faq__question-active {
  color: var(--Very_dark_desaturated_blue);
}

.faq__question:hover,
.faq__question-active:hover,
.faq__arrow:hover,
.faq__arrow-active:hover {
  cursor: pointer;
  color: var(--Soft_red);
}

.faq__answer {
  display: inline-block;
  color: var(--Dark_grayish_blue);
}

.faq__answer-deactivated {
  display: none;
}

.line-between {
  width: 100%;
  border: 1px solid var(--Light_grayish_blue);
}

footer {
  margin-bottom: 5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--Light_grayish_blue);
}

.attribution a {
  color: var(--Very_dark_desaturated_blue);
}

.faq__container-destop {
  display: none;
}

@media only screen and (min-width: 600px) {
  .faq__container-mobile {
    display: none;
  }

  .faq__container-destop {
    margin: 3rem;
    height: 80vh;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;
    border-radius: 30px;
    position: relative;
  }

  .faq__header {
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: center;    
  }

  .faq__photo-shadow {
    position: absolute;
    z-index: 1;
    left: -35rem;
    top: -35rem;
  }

  .faq__photo-box {
    position: absolute;
    z-index: 10;
    left: -7.2rem;
    bottom: -9rem;
  }

  .faq__photo-desktop {
    position: absolute;
    z-index: 2;
    left: -5rem;
    top: -10.5rem;
    
  }

  .overflow-container {
    /* overflow: hidden; */
    position: absolute;
    z-index: 10;
  }

  .faq__main {
    width: 45%;
  }
}
